body{
    background-image: url("bgtrial.jpeg");
}

.section{
    background-color: rgb(187, 219, 247);
}

.navstyle{
    background-color: rgb(41, 92, 175);
    color: white;
    border: 1px grey;
}

.jstyle{
    background-color: aliceblue;
}