{% extends "base".html" %}
{% block content %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <title>MindnBody</title>
  </head>
  <body>
    <div class="container-fluid text-center pt-5">
        <div>
            <!--decor-->
            <h2>My Journals</h2>
        </div>
    </div>

    <!--Add buttons for each emotion-->

    <!--Template how an entry would generate-->
    {% for entry in all_entries %}
    <div class="container-fluid justify-content-center row p-3">
        <a class="container text-center border p-3 col-8" href="">
            <h5>{{entry.jname}}</h5>
            <h6>{{entry.emoji}}</h6>
            <p>{{entry.content}}</p>
            {% for song in entry.music %}
                <p>Music: {{song.mname}} {{song.link}} {{song.alt}}</p>
            {% endfor %}
            {% for workout in entry.exercises %}
                <p>Exercise: {{workout.exname}} {{workout.link}} {{workout.alt}}</p>
            {% endfor %}
            {% for advice in entry.advices %}
                <p>Advice: {{advice.aname}} {{advice.link}} {{advice.alt}}</p>
            {% endfor %}
            
        </a>
    </div>

</body>
{% endfor %}
</html>
{% endblock %}
