{% extends "base.html" %}

{% block stylesheet %}
  <style>
body{
  background-color: rgb(187, 219, 247);
}

.section{
    height: 100%;
    background-color: rgb(187, 219, 247);
}
  </style>
{%endblock%}

{% block shownav %}
{% endblock %}

{% block content %}

    <div class="container-fluid text-center pt-5">
      <div>
        <!--decor-->
        <h1>Login</h1>
      </div>
    </div>

    <div class="container text-center pt-3">
      <form class="section p-5" method="POST">
        {{ form.csrf_token }}
        <div class="row justify-content-md-center">
          <div class="col-8 pt-4">
            {{ form.email.label }} {{ form.email() }}
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-8 pt-4">
            {{ form.password.label }} {{ form.password() }}
          </div>
        </div>
        {{ form.submit() }}
        <!--Link to write.html-->
      </form>
    </div>

    <script>
      function redirectToWrite() {
        // You can customize the URL or add any additional logic here
        window.location.href = 'add.html';
      }
    </script>

{% endblock %}