{% extends "base.html" %}

{% block stylesheet %}
  <style>
    body{
    background-image: url("bgtrial.jpeg");
}

.section{
    background-color: rgb(187, 219, 247);
}

.navstyle{
    background-color: rgb(41, 92, 175);
    color: white;
    border: 1px grey;
}

.jstyle{
    background-color: aliceblue;
}
      /* Add your custom styles here */
    .container-lg {
      max-width: 800px;
      margin: 0 auto;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    /* Submit button styles */
    .submit-btn {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .submit-btn:hover {
      background-color: #0056b3;
    }
  </style>
{% endblock %}

{% block shownav%}
    <!--NavBar-->
    <div class="container-fluid p-3 navstyle">
      <ul class="nav nav-pills justify-content-end p-2">
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white active" href="{{ url_for('add_entry') }}">Write a Journal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('list_entries') }}">List of Journal Entries</a>
          </li>
        </ul>
  </div>

{% endblock %}
{% block content%}
    <div class="container-fluid text-center pt-5">
        <div>
            <!--decor-->
            <h2>Reflection Time</h2>
        </div>
    </div>

    <div class="container-lg text-center pt-3">
        <form class="justify-content-center" method="POST">
          {{ form.csrf_token }}
          <div class="form-group row justify-content-md-center">
            <!-- Journal Title Input -->
            <label for="{{ form.jname.id }}">{{ form.jname.label }}</label>
            {{ form.jname() }}
          </div>
      
          <div class="form-group row justify-content-md-center">
            <!-- Content Input -->
            <label for="{{ form.content.id }}">{{ form.content.label }}</label>
            {{ form.content() }}
          </div>
      
          <div class="row justify-content-md-center pt-4">
            <!-- Submit Button with Formatting -->
            <button type="submit" class="submit-btn">{{ form.submit() }}</button>
            
            
              <!--Link to a loading page? or recs.html-->
            </div>
        </form>
    </div>
{% endblock %}
